body {
    margin: 0;
    background-color: #eee;
}

/* Header */
#arribaHeader {
    background-color: #0C231E;
    height: 100px;
    width: 100%;
}

#bajoHeader{
    height: 180px;
    width: 100%;
    background-color: #fff;
}

#flexImgHeader {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100%;
}

#imgHeaderPol {
    height: 110px;
    width: 410px;
}

#imgHeaderUpiita {
    height: 110px;
    width: 125px;
}

/* Drop down */
.dropdown-btn {
    /* background-color: #4CAF50; */
    /* background-color: aquamarine; */
    background-color: #13322B;

    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;

    height: 60px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Flex para el menu */
#flexMenu {
    display: flex;
    justify-content: space-evenly;
    background-color: #13322B;
}
