body {
    margin: 0;
    background-color: #eee;
}

/* HEADER */
#arribaHeader {
    background-color: #0C231E;
    height: 100px;
    width: 100%;
}

#bajoHeader{
    height: 180px;
    width: 100%;
    background-color: #fff;
}

#flexImgHeader {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100%;
}

#imgHeaderPol {
    height: 110px;
    width: 410px;
}

#imgHeaderUpiita {
    height: 110px;
    width: 125px;
}

img {
    cursor: pointer;
}

/* Drop down */
.dropdown-btn {
    background-color: #13322B;

    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #c9c0c0;
}

.dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Flex para el menu */
#flexMenu {
    display: flex;
    justify-content: space-evenly;
    background-color: #13322B;
}

#nameSchool {
    color: #fff;
    width: 100%;
    height: 30px;
    background-color: #4C4C4C;
    font-size: 18px;
    font-weight: bold;
    text-indent: 145px; 
}


/* BODY */

/* Imagen hospital, titulo y desripcrion de bienvenida */
#imgHospital {
    display: block;
    margin: 0 auto;
    height: 490px;
    width: 654px;
}

#binevenido {
    background-color: #fff;
    padding: 20px 94px;
    text-align: center; 
}

#titulo {
    color: #333333;
    font-size: 28px;  
    font-weight: bold;
}

#descripcion {
    color: #777474;
    font-size: 14px; 
}

/* Avisos */
#fondoAvisos {
    background-color: #6D1D44;
    width: 100%;
    height: 560px;
    padding-top: 5px;
}

#tituloAvisos {
    color: #fff;
    font-size: 28px;  
    font-weight: bold;
    text-align: center; 
    width: 100%;
}

.cartasAvisos {
    /* background-color: green; */
    background-color: white;
    height: 430px;
    width: 265px;
}

.imgesCartasAvisos {
    width: 100%;
    height: 100%;
}

.imgesCartasAvisos:hover {
    opacity: 0.80;
    cursor: pointer;
}

/* Flex para las cartas avisos */
#flexAvisos {
    display: flex;
    justify-content: space-evenly;
}


/* Otros avisos */

/* Flex para las cartas avisos */
#flexOtrosAvisos {
    background-color: #333333;
    width: 100%;
    height: 377px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#otrosAvisos {
    background-color: #333333;
    width: 100%;
    height: 350px;
}

.cartasOtrosAvisos {
    background-color: #333333; /* Era de un color distinto para orientarse de que tamaño
                                eran las cartas */
    height: 280px;
    width: 210px;

    color: white;
    text-align: center;
}

#contenedorFlex {
    padding: 5px 80px;
}

.titulosCartasOtrosAvisos {
    font-size: 22px;  
    font-weight: bold;
}

.descripcionCartasOtrosAvisos {
    line-height: 24px;
    font-size: 16px;
}

.imgCOA {
    margin-top: 35px; /* Esto fue para que el titulo de las cartas de otros
    avisos quedaran a la misma altura verticalment */
}

.cartasOtrosAvisos:hover {
    cursor: pointer;
}

/* FOOTER */

/* Redes sociales */
#redesSociales {
    width: 100%;
    height: 180px;
}

.centroTextVert {
    text-align: center;
    line-height: 16px;
    letter-spacing: 0px;
}

.tituloRS {
    font-size: 22px;
    font-weight: bold;
    color: #292828;
}

.descripcionRS {
    font-size: 18px;
    color: #6E6E6E;
}

#flexRedesSociales {
    display: flex;
    width: 66%;
    height: 80px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

#flexRedesSociales svg {
    cursor: pointer;
 }


/* Parte de en medio del footer */
#flexFooter {
    display: flex;
    height: 230px;
    justify-content: space-evenly;
    align-items: center;
}

.cartasFH {
    width: 260px;
    height: 200px;
    display: inline-block;
}

.tituloFH {
    font-size: 18px;
    font-weight: bold;
}

.descripcionFH {
    font-size: 16px;
    line-height: 25px;
    /* margin-bottom: 0px;
    margin-top: 0px; */
    /* margin-right: ; */
    /* display: inline; */
    /* display: inline-block; */
}

/* Parte de abajo del footer */
#footerDown {
    background-color: #13322B;
    color: white;
}

#privacidad {
    height: 85px;
}


.contenedor {
    width: 200px;

    display: flex;
    flex-direction: column;
}

.xd {
    background-color: #0C231E;
}

.ir{
    background-color: #3e8e41;
    display: inline;
}

